import { Controller, Get } from '@nestjs/common';

@Controller('@@kebabName@@')
export class @@PascalName@@Controller {
  @Get()
  getMessage(): string {
    return '@@PascalName@@ module up and running.';
  }
}
